<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <div class="conteiner">
        <div class="left">
            <div class="menu-search">
                <div class="menu-button">

                </div>
                <div class="search-bar">

                </div>
            </div>
            <div class="chat-list">
                <div class="chat-card">
                    <div class="chat-icon">
                        <img src="" alt="">
                    </div>
                    <div class="chat-info">
                        <div class="chat-name-date">
                            <span class="chat-name">Group name</span>
                            <span class="lastmgs">17:13</span>
                        </div>
                        <div class="chat-lastmsg-unread">

                        </div>
                    </div>
                </div>
                <div class="chat-card">
                    <div class="chat-icon">
                        <img src="" alt="">
                    </div>
                    <div class="chat-info">
                        <div class="chat-name-date">
                            <span class="chat-name">Group name 2</span>
                            <span class="lastmgs">17 Feb, 2007</span>
                        </div>
                        <div class="chat-lastmsg-unread">

                        </div>
                    </div>
                </div>
                <div class="chat-card">

                </div>
                <div class="chat-card">

                </div>

                <div class="chat-card">

                </div>
                <div class="chat-card">

                </div>
                <div class="chat-card">

                </div>

                <div class="chat-card">

                </div>
                <div class="chat-card">

                </div>
                <div class="chat-card">

                </div>

                <div class="chat-card">

                </div>
                <div class="chat-card">

                </div>
                <div class="chat-card">

                </div>

                <div class="chat-card">

                </div>
                <div class="chat-card">

                </div>
                <div class="chat-card">

                </div>

                <div class="chat-card">

                </div>
                <div class="chat-card">

                </div>

            </div>
        </div>
        <div class="right">
    
        </div>
    </div>
    <script src="/static/scripts/base.js"></script>
</body>
</html>